body {
    font-family: Arial, sans-serif;
    background-color: #b9d4b5;
    text-align: center;
    margin:60px;
}

h1 {
    color: #0a3146;
}
h2{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid rgb(46, 13, 13);
    outline:rgb(135, 194, 18)
    
    
}   

button.check {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #505354;
    color: rgb(24, 6, 6);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.reset {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border:#050606;
    background-color: #55afdc;
    color: rgb(24, 6, 6);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover.check {
    background-color: #72ea54;
}
button:hover.reset {
    background-color: #e0b756;
}

